<!-- <h1>Users component</h1>
<div>
    <form class="form-styles" [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
        <input type="email" placeholder="enter your email" name="email" formControlName="email">
        <input type="firstName" placeholder="enter your name" name="firstName" formControlName="firstName">
        <input type="lastName" placeholder="enter your last name" name="lastName" formControlName="lastName">
        <input type="password" placeholder="enter a password" name="password" formControlName="password">
        <button type="submit">register</button>
    </form>
    <button (click)="removeUsers()">Remove users</button>
</div>
<div *ngFor="let u of users">
    <span>{{ u.firstName }} </span><span>{{ u.lastName }}</span>
    <p>{{ u.email }}</p>
</div> -->
<div class="box-border container-sm mx-auto mt-28 px-10 space-y-5">
    <p class="text-7xl font-bold text-center">Find Remote Jobs With Your Interests And Abilities. </p>
    <div class="mt-5 space-y-3">
        <p class="text-xl text-gray-700 text-center">👉 Quickly sift through remote jobs available all around the world.</p>
        <p class="text-xl text-gray-700 text-center">👉 Save jobs you would want to apply for in future.</p>
        <p class="text-xl text-gray-700 text-center">👉 Apply for jobs at a click of a button.</p>
    </div>
    <div class="flex flex-row justify-center space-x-2">
        <input type="email" placeholder="you@yourmail.com" class="py-2 px-12 rounded-lg focus:ring-2 focus:ring-blue-600 border-0">
        <button class="py-2 px-8 bg-blue-500 rounded-lg text-white">Subscribe</button>
    </div>
    <p class="text-center text-sm">✨ Join the newsletter for updates on the platform and the latest job listings.</p>
</div>
<app-listings></app-listings>