<div class="box-border container-sm mx-auto mt-28 px-10 space-y-5">
    <p class="text-7xl font-bold text-center">Find Remote Jobs With Your Interests And Abilities. </p>
    <div class="mt-5 space-y-3">
        <p class="text-xl text-gray-700 text-center">👉 Quickly sift through remote jobs available all around the world.</p>
        <p class="text-xl text-gray-700 text-center">👉 Save jobs you would want to apply for in future.</p>
        <p class="text-xl text-gray-700 text-center">👉 Apply for jobs at a click of a button.</p>
    </div>
    <div class="flex flex-row justify-center space-x-2">
        <input type="email" placeholder="you@yourmail.com" class="py-2 px-12 rounded-lg border-black border-2">
        <button class="py-2 px-8 bg-blue-900 rounded-lg text-white">Subscribe</button>
    </div>
    <p class="text-center text-sm">✨ Join the newsletter for updates on the platform and the latest job listings.</p>
</div>
<app-listings></app-listings>